{% load sekizai_tags %}

{% addtoblock "js" %}
<script type="text/javascript">
console.log("Hello.")
</script>
{% endaddtoblock %}
{% addtoblock "css" %}
<style>
h1 {
    color: red;
}
</style>
{% endaddtoblock %}


<h1>Hello</h1>
