{% load cms_tags sekizai_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% page_attribute "page_title" %}</title>
        {% render_block "css" %}
        {% render_block "js" %}
    </head>
    <body>
        {% cms_toolbar %}
        {% placeholder "content" %}
    </body>
</html>