<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CRUD - List Data</title>
    </head>
    <h1>List Data</h1>
    <body>
        <ul>
            {% for date in object_list %}
            <li>{{ date.pk }}; <a href="../read/{{ date.pk }}">View</a>; <a href="../update/{{ date.pk }}">Update</a>; <a href="../delete/{{ date.pk }}">Delete</a>; {{ date.text }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
