<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CRUD - Detail</title>
    </head>
    <h1>Detail</h1>
    <body>
        {{ data.text }}
    </body>
</html>
