<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CRUD - Delete</title>
    </head>
    <h1>Delete</h1>
    <body>
        {{ data.text }}
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" action="" value="Delete" />
        </form>
    </body>
</html>
